<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionaire</title>
</head>
<body>
    <h1 class="mb-4">Questionaire</h1>  <br><br>
    <h2 class="mb-4">Please select a Valid Value</h1>  <br><br>
    <a href="/questions/getQuestionAndOptions" class="btn btn-success"> Lets start again</a>
</div>
</body>
</html>