<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Questionaire</title>
</head>
<body>
    <h1 class="mb-4" style="font-weight: 700;margin-left: 35%;">Questionaire</h1>  <br><hr>
    <h2 class="mb-4" style="margin-left: 30%;">Please select a Valid Value</h1>  <br><br>
    <a href="/questions/getQuestionAndOptions" class="btn btn-success" style="margin-left: 39%;"> Lets start again</a>
</div>
</body>
</html>